p{
color: rgb(83, 83, 240);
}
h2{
    color:red
}

  a:visited {
    color: rgb(0, 0, 0);
  }
  a:hover {
    color: rgb(18, 10, 243);
  }
  html{
     scroll-behavior: smooth;
  }
  body{
    background-color: rgb(241, 255, 188);
  }
 